<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试结果</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<link rel="stylesheet" href="css/detail.css">
</head>
<body>
	<div class="main">
		<div class="top">
			<!-- 痰湿质兼血瘀质 -->
		</div>
		<div class="mid">
			<ul>
				<!-- <li>
					<div class="title">
						痰湿质
					</div>
					<div class="item">
						<span class="red">总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
				</li>
				<li>
					<div class="title">
						痰湿质
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
				</li>
				<li>
					<div class="title">
						痰湿质
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
				</li>
				<li>
					<div class="title">
						痰湿质
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
					<div class="item">
						<span>总体特征：</span>
						<span>阴阳气血调和，以体态适中、面色红润、精力充沛等为主要特征。</span>
					</div>
				</li> -->
			</ul>
		</div>
		<div class="bot">
			查看调理方案
		</div>
		
		
	</div>

</body>
<script>
	var dw=720;
	var cw=document.documentElement.clientWidth;
	var rem=cw/dw*100;
	document.documentElement.style.fontSize=rem+"px";
	// alert(cw)
</script>
<script src="js/zepto.min.js"></script>
<script src="js/detail.js"></script>
</html>